<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Document title -->
        <title>Free Gaming Haven</title>
        <!-- External CSS stylesheet -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-dark">
        <div class="container">
            <header
                class="d-flex justify-content-between py-3 mb-4 border-bottom bg-light text-dark"
            >
                <span
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                >
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="text-dark fs-4 font-weight-bold"
                        >Free Gaming Haven</span
                    >
                </span>

                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/new_game" class="btn btn-primary mr-2">
                            + New Game</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-info mr-2">Logout</a>
                    </li>
                </ul>
            </header>
        </div>
        <br />
        <!-- Container for the games library table -->
        <div class="col-12 ml-4">
            <!-- games library table -->
            <table class="table-hover col-11 ml-5 text-center table-light">
                <!-- Table header -->
                <thead class="bg-primary text-light">
                    <!-- Table header row -->
                    <tr>
                        <td class="col-3">Game Title</td>
                        <td class="col-3">Genre</td>
                        <td class="col-3">Release Date</td>
                        <td class="col-3">Posted By</td>
                        <td class="col-3">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each Games -->
                    {% for game in all_games %}
                    <tr>
                        <!-- Display game title -->
                        <td>
                            <p><b>{{ game.title }}</b></p>
                        </td>
                        <!-- Display game genre -->
                        <td>
                            <p><b>{{ game.genre }}</b></p>
                        </td>
                        <td>
                            <p>
                                <b
                                    >{{ game.release_date.strftime("%m-%d-%Y")
                                    }}</b
                                >
                            </p>
                        </td>
                        <!-- Display game posted by -->
                        <td>
                            <p>
                                <b>
                                    {{ game.user.first_name }} {{
                                    game.user.last_name }}</b
                                >
                            </p>
                        </td>
                        <!-- Check if the current user is the creator of the game -->
                        <td class="d-flex mt-3 align-items-center">
                            {% if game.user_id == session.user_id %}
                            <!-- If the user is the creator, show links for editing and deleting the game -->
                            <a
                                class="btn btn-primary mb-4 ml-2 mr-2"
                                href="/show_game/{{ game.id }}"
                                >view</a
                            >
                            <a
                                class="btn btn-warning mb-4 mr-2"
                                href="/edit_game/{{ game.id }}"
                                >edit</a
                            >
                            <a
                                class="btn btn-danger mb-4 mr-2"
                                href="/delete_game/{{ game.id }}"
                                >delete</a
                            >
                            <!-- If the user is not the creator of the game -->
                            {% elif game.user_id != session.user_id %}
                            <!-- show only a link for viewing the game details -->
                            <a
                                class="btn btn-primary mb-4 ml-2 mr-2"
                                href="/show_game/{{ game.id }}"
                                >view</a
                            >
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer class="py-3 my-4 fixed-bottom border-top border-light">
            <p class="text-center text-light">Made with ❤️ by Laz © 2023</p>
        </footer>
    </body>
</html>
