<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Document title -->
        <title>Free Gaming Haven</title>
        <!-- External CSS stylesheet -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-dark">
        <header
            class="d-flex justify-content-between py-3 mb-4 border-bottom bg-light text-dark"
        >
            <a href="/dashboard" class="btn btn-primary ml-2">
                Free Gaming Haven</a
            >
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/logout" class="btn btn-info mr-2">Logout</a>
                </li>
            </ul>
        </header>
        <!-- Edit game form -->
        <form
            action="/update_game"
            method="post"
            class="col-11 p-4 my-4 text-light border-dark"
        >
            <!-- Hidden input field for game ID -->
            <input type="hidden" name="id" value="{{edit.id}}" />
            <!-- Flash messages for game-related errors -->
            {% with messages = get_flashed_messages(category_filter=['game']) %}
            {% if messages %} {% for message in messages %}
            <!-- Display flash messages -->
            <p>{{message}}</p>
            {% endfor %} {% endif %} {% endwith %}
            <div class="d-flex justify-content-between col-10">
                <div class="col-4">
                    <!-- Input field for game title with the existing value populated for editing -->
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input
                            type="text"
                            name="title"
                            class="form-control"
                            value="{{edit.title}}"
                        />
                    </div>
                    <!-- Input field for game genre with the existing value populated for editing -->
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input
                            type="text"
                            name="genre"
                            class="form-control"
                            value="{{edit.genre}}"
                        />
                    </div>
                    <!-- Input field for game rating with the existing value populated for editing -->
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <input
                            type="text"
                            name="rating"
                            class="form-control"
                            value="{{edit.rating}}"
                        />
                    </div>
                    <!-- Textarea for game description with the existing value populated for editing -->
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                            name="description"
                            class="form-control"
                            cols="30"
                            rows="5"
                        >
{{edit.description}}</textarea
                        >
                    </div>
                    <div class="form-group">
                        <label for="release_date">Release Date:</label>
                        <input
                            name="release_date"
                            type="date"
                            class="form-control"
                            value="{{edit.release_date}}"
                        />
                    </div>
                    <div class="form-group">
                        <label for="developer">Developer:</label>
                        <input
                            type="text"
                            name="developer"
                            class="form-control"
                            value="{{edit.developer}}"
                        />
                    </div>
                    <div class="form-group">
                        <label for="publisher">Publisher:</label>
                        <input
                            type="text"
                            name="publisher"
                            class="form-control"
                            value="{{edit.publisher}}"
                        />
                    </div>
                    <div class="form-group">
                        <label for="platform">Platform:</label>
                        <input
                            type="text"
                            name="platform"
                            class="form-control"
                            value="{{edit.platform}}"
                        />
                    </div>
                    <br />
                    <!-- Submit button to update the game -->
                    <input
                        type="submit"
                        value="Update"
                        class="btn btn-success"
                    />
                </div>
            </div>
        </form>
    </body>
</html>
