<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Document title -->
        <title>Free Gaming Haven</title>
        <!-- External CSS stylesheet -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-dark">
        <!-- Navigation bar -->
        <div class="container">
            <header
                class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom bg-light"
            >
                <a href="/dashboard" class="btn btn-primary ml-2">
                    Free Gaming Haven</a
                >
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-info mr-2">Logout</a>
                    </li>
                </ul>
            </header>
        </div>
        <!-- New game form -->
        <div class="container">
            <!-- Form to add a new game -->
            <form
                action="/create_game"
                method="post"
                class="col-12 p-4 my-4 text-light border-dark"
            >
                <!-- Flash messages for game-related errors -->
                {% with messages =
                get_flashed_messages(category_filter=['game']) %} {% if messages
                %} {% for message in messages %}
                <!-- Display flash messages -->
                <p>{{message}}</p>
                {% endfor %} {% endif %} {% endwith %}
                <!-- Hidden input field to store the user ID -->
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <!-- Form inputs -->
                <div class="align-items-center col-5">
                    <!-- Input field for the title of the new game -->
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input name="title" type="text" class="form-control" />
                    </div>
                    <!-- Input field for the genre of the new game -->
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input name="genre" type="text" class="form-control" />
                    </div>
                    <!-- Input field for the rating of the new game -->
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <input name="rating" type="text" class="form-control" />
                    </div>
                    <!-- Input field for the description of the new game -->
                    <div>
                        <label for="description">Description:</label>
                        <textarea
                            name="description"
                            cols="30"
                            rows="5"
                            class="form-control"
                        ></textarea>
                    </div>
                    <!-- Input field for the release date of the new game -->
                    <div>
                        <label for="release_date">Release Date:</label>
                        <input
                            name="release_date"
                            type="date"
                            class="form-control"
                        />
                    </div>
                    <!-- Input field for the developer of the new game -->
                    <div>
                        <label for="developer">Developer:</label>
                        <input
                            name="developer"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <!-- Input field for the publisher of the new game -->
                    <div>
                        <label for="publisher">Publisher:</label>
                        <input
                            name="publisher"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <!-- Input field for the platform of the new game -->
                    <div>
                        <label for="platform">Platform:</label>
                        <input
                            name="platform"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <br />
                    <!-- Submit button to add the new game -->
                    <input
                        type="submit"
                        value="Add Game"
                        class="btn btn-success"
                    />
                </div>
            </form>
        </div>
    </body>
</html>
