<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Document title -->
        <title>Free Gaming Haven</title>
        <!-- External CSS stylesheet -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-dark">
        <div class="container">
            <header
                class="d-flex justify-content-between py-3 mb-4 border-bottom bg-light text-dark"
            >
                <a href="/dashboard" class="btn btn-primary ml-2">
                    Free Gaming Haven</a
                >
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/new_game" class="btn btn-primary mr-2">
                            + New Game</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-info mr-2">Logout</a>
                    </li>
                </ul>
            </header>
        </div>
        <div
            class="card col-9 mx-auto my-5 bg-light text-dark font-weight-bold border-dark"
        >
            <div class="card-body text-center">
                <!-- game title -->
                <h2 class="card-text">Game Title: {{ game.title }}</h2>
                <br />
                <h4 class="card-text">Description:</h4>
                <h5>{{ game.description }}</h5>
                <br />
                <!-- game release date -->
                <h4 class="card-text">
                    Release Date: {{ game.release_date.strftime("%m-%d-%Y") }}
                </h4>
                <br />
                <!-- game developer -->
                <h4 class="card-text">Developer: {{ game.developer }}</h4>
                <br />
                <!-- game publisher -->
                <h4 class="card-text">Publisher: {{ game.publisher }}</h4>
                <br />
                <!-- game platform -->
                <h4 class="card-text">Platform: {{ game.platform }}</h4>
                <br />
                <!-- game posted by -->
                <p class="card-text text-muted text-right">
                    Posted by: {{ game.user.first_name }} {{ game.user.last_name
                    }}
                </p>
            </div>
        </div>
        <footer class="py-3 my-4 fixed-bottom border-top border-light">
            <p class="text-center text-light">Made with ❤️ by Laz © 2023</p>
        </footer>
    </body>
</html>
